@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --winner-color: #31c4be;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #16232a;
    color: white;
    font-family: "Outfit", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3.5rem 36% 0 36%;
}

.start-content {
    margin: 6rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pick-player {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #1f3640;
    padding: 1rem 2rem;
    margin-top: 2rem;
    border-radius: 20px;
}

#pick-player-title {
    margin-bottom: 1rem;
}

#pick-player-subtitle {
    margin-top: 1rem;
    font-size: 13px;
    color: #a8bfc9;
}
.start-icons {
    display: flex;
    border-radius: 20px;
    background-color: #16232a;
    padding: 0.7rem 0.6rem;
}

.start-icons span {
    display: flex;
    place-content: center;
    cursor: pointer;
    background-color: #b6cfd9;
    border-radius: 15px;
    padding: 0.8rem 6rem;
    width: 5rem;
    height: 4rem;
    transition: 0.4s;
}

#start-x:hover,
#start-o:hover {
    background-color: #d8f4ff;
}

#start-x {
    margin-right: 0.7rem;
}

.start-icons img {
    width: 2rem;
}

#start-btn {
    text-align: center;
    margin-top: 2rem;
    padding: 0.7rem 0;
    width: 100%;
    text-align: center;
    font-weight: 600;
    border: transparent;
    border-radius: 10px;
    background-color: #31c4be;
    box-shadow: 0px 6px 0 #307573;
    cursor: pointer;
    transition: 0.5s;
}

#start-btn:hover {
    background-color: #66faf5;
}

.controls-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: flex-start;
    gap: 0.7rem;
}

.logo img {
    width: 4.5rem;
}

.controls {
    display: flex;
    justify-content: space-between;
}

.turn-player {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #b6cfd9;
    background-color: #1f3640;
    box-shadow: 0px 7px 0 #0a1318;
    padding: 0.5rem 0.5rem;
    width: 8rem;
    border-radius: 10px;
    margin-right: 1.6rem;
}

.turn-player img {
    width: 1.2rem;
    margin-right: 0.5rem;
}

.reload-btn {
    align-content: end;
    align-self: end;
}

#reload-btn {
    background-color: #a8bec9;
    box-shadow: 0px 7px 0 #0a1318;
    padding: 0.5rem 0.5rem;
    border-radius: 10px;
    width: 3rem;
}

#reload-btn img {
    width: 1.5rem;
}

.game-board {
    display: grid;
    grid-template-columns: 8rem 8rem 8rem;
    grid-template-rows: 8rem 8rem 8rem;
    gap: 1.4rem;
    margin: 2rem auto 4rem auto;
    max-height: 25rem;
}

.game-board span {
    background-color: #1f3640;
    box-shadow: 0px 7px 0 #0a1318;
    border-radius: 10px;
    display: grid;
    place-content: center;
    font-size: 80px;
    font-weight: 700;
    color: white;
}

.game-board span img {
    width: 3.4rem;
}

.score-container {
    display: grid;
    grid-template-columns: 8rem 8rem 8rem;
    place-content: center;
    gap: 1.4rem;
    max-height: 8rem;
    margin: 2rem auto 1rem auto;
    min-width: 100%;
    max-height: 8rem;
}

.score-container span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 10px;
    text-align: center;
    border-radius: 10px;
    height: 4rem;
    width: 8rem;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

#win-x {
    background-color: #31c4be;
}

#ties {
    background-color: #a8bfc8;
}

#win-y {
    background-color: #f1b331;
}

#score-label,
#score-label-X,
#score-label-O {
    font-size: 15px;
    font-weight: 600;
}

#score-X,
#score-O,
#score-ties {
    font-size: 22px;
    font-weight: bold;
    margin-top: -1rem;
    padding-top: 0;
}

.border-bottom {
    padding-bottom: 0.5rem;
    border-bottom: 2px solid white;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

.modal-dialog {
    display: block;
    margin-top: 12rem;
    max-width: 100vw;
}

.modal-content {
    display: block;
    margin-top: 12rem;
    max-width: 100vw;
    background-color: #16232a;
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.modal-body h1 {
    color: var(--winner-color);
    font-weight: bolder;
}

.modal-body h1 img {
    width: 3.5rem;
    margin-top: -0.8rem;
}

.modal-btn {
    display: flex;
}

.modal-btn button {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 14px;
    padding: 0.4rem 1rem;
    border: #16232a solid 1px;
    border-radius: 10px;
}

#restart-text {
    text-align: center;
    width: 100%;
    margin-top: -0.8rem;
}

#quit-btn {
    background-color: #a8bfc8;
    box-shadow: 0px 4px 0 #0a1318;
    transition: 0.5s;
}

#next-round-btn {
    background-color: #f1b331;
    margin-left: 0.7rem;
    box-shadow: 0px 4px 0 #0a1318;
    transition: 0.5s;
}

#cancel-btn {
    background-color: #a8bfc8;
    box-shadow: 0px 4px 0 #0a1318;
    width: 8rem;
    transition: 0.5s;
}

#quit-btn:hover,
#cancel-btn:hover {
    background-color: #e0f6ff;
}

#restart-btn {
    background-color: #f1b331;
    margin-left: 0.7rem;
    box-shadow: 0px 4px 0 #0a1318;
    width: 8rem;
    transition: 0.5s;
}

#next-round-btn:hover,
#restart-btn:hover {
    background-color: #e4b755;
}

.block {
    display: block;
}

.hide {
    display: none;
}

.win {
    background-color: var(--winner-color);
}

@media (max-width: 480px) {
    .start-icons span {
        padding: 0.8rem 15vw;
    }

    .turn-player {
        width: 5.5rem;
        margin-right: 1.4rem;
    }

    .controls-container {
        gap: 0;
    }

    .game-board {
        grid-template-columns: 5.5rem 5.5rem 5.5rem;
        grid-template-rows: 5.5rem 5.5rem 5.5rem;
        margin: 2rem 0 2rem 0;
        gap: 1.3rem;
    }

    .score-container span {
        height: 4rem;
        width: 5rem;
    }

    .score-container {
        margin-top: 8rem;
        grid-template-columns: 5.5rem 5.5rem 5.5rem;
        grid-template-rows: 5.5rem 5.5rem 5.5rem;
    }

    .score-container span {
        width: 5.3rem;
    }
}
